@import '_vars.less';
@import '_colours.less';
@import '_bootstrap.less';
@import '_fonts.less';
@import '_typography.less';
@import '_helpers.less';
@import '_navbar.less';
@import '_forms.less';
@import '_buttons.less';
@import '_breadcrumb.less';
@import '_panels.less';
@import '_gradients.less';
@import '_tablesorter.less';
@import '_tables.less';

@theme-color: #009FDA;

html {
  font-family: Verdana, Geneva, sans-serif;
  overflow-y: scroll;
}
body {
  font-family: Verdana, Geneva, sans-serif;
}

// a:link, a:visited, a:hover, a:active, a:focus {
//   color: @color-light-blue;
//   text-decoration: none;
// }

/* External links */
a[href*="//"]:after {
    content: url(../Assets/external_link.png);
    margin: 0 0 0 5px;
}


table {
    margin-bottom: 10px;
}

.body-content, .ui-widget {font-size: small;}
.below {background: #E64A0E;}
.above {background: #739600;}

.row.menu {margin: 20px 0 20px 0;}
.row.menu div, .row.menu span {text-align: center; font-weight: bold; padding: 0;}
.row.menu span { float: left;width: 120px;}
.row.menu div a, .row.menu span a {display: block;background: #009FDA;margin: 1px;padding: 5px 0;color: white;text-decoration: none;cursor: pointer;}/*padding: 5px 0 5px 0;*/

.link a { display: block;}
/*, .link a {display: block;background: #009FDA;margin: 1px;padding: 5px 0;}/*padding: 5px 0 5px 0;*/
.row.menu div a:link, .row.menu div a:visited, .row.menu div a:hover, .row.menu div a:active {text-decoration: none;color: white;}
.row.menu span a:link, .row.menu span a:visited, .row.menu span a:hover, .row.menu span a:active {text-decoration: none;color: white;}
.link a:link, .link a:visited, .link a:hover, .link a:active { text-decoration: none;color: black;}
.link a:hover, .link a:focus {color: #009FDA;}
.row.menu div.selected a {background: #001965; color: white; } /*padding: 5px 0 5px 0;*/

.content {margin: 1px;}

/*table {border-collapse: collapse;border: 1px solid black;}*/
th, td {padding: 10px;}
h2 { font-size: x-large;}

//.shadow {color: #AEA79F;margin-top: 10px;margin-bottom: 10px;font-size: small;}
.table-header { background: #E0DED8;}

.header img.sorting {margin-top: 2px;float: right;margin-left: 2px;}
#loading {display: none;z-index: 1000;position: fixed;top: 50%;left: 50%;margin-top: -75px;margin-left: -75px;background: #001965;color: #fff;width: 150px;height: 150px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-o-border-radius: 10px;-ms-border-radius: 10px;-khtml-border-radius: 10px;}

/* Bootstrap-switch */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  color: #fff;
  background: #009FDA;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #E0DED8;
}

/*.list ul { padding: 0 1em;}
.list ul li {padding: 0.5em 0; list-style-type: none;}*/





/* DIALOG */
.ui-widget-header {
    border: 1px solid #001965;
    background: #009FDA;
}
.ui-dialog-title{
    color: #fff;
}
.ui-dialog-titlebar-close {
    background: #fff;
}
.ui-widget-content {
    background: #fff;
}






.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    color: #000;
    background-color: #eee;
    border-color: #555;
}



/* dialog - buttons (incl. dialog close) */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border-color: #555;
    background: #ccc;
}
.ui-dialog .ui-priority-primary, .ui-dialog .ui-priority-secondary {
    color: #000;
    background-color: #eee;
    border-color: #555;
}
.ui-dialog .ui-priority-primary {
    background: #009FDA;
    color: #fff;
}
.ui-dialog .ui-priority-primary:hover {
    border-color: #000;background-color: #001965;
}
.ui-dialog .ui-priority-secondary:hover {
    color: #fff;
    filter: none;
    opacity: 1;
    border-color: #000;
    background-color: #001965;
}
